<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Selenium_Testing_Gmail.Gmail_Testing.Gmail_homepage"/>
      <class name="Selenium_Testing_Gmail.Gmail_Testing.gmail_login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
